.myCalendar  {
    --fc-button-hover-bg-color: #947964;
    --fc-button-hover-border-color: #947964;
    --fc-button-active-bg-color: #947964;
    --fc-button-active-border-color: #947964;
    --fc-border-color: #D1C0AD;

    :global(.fc-col-header-cell) {
        background-color: #D1C0AD;
        border-color: #D1C0AD;
    }
   :global(.fc-theme-standard td) {
       border-color: #D1C0AD;
    }
   :global(.fc-theme-standard th) {
       border-color: #D1C0AD;
   }
   :global(.fc-button-primary) {
       background-color: #D1C0AD;
       border-color: #D1C0AD;
       color: #947964;
   }
   :global(.fc-button-primary:disabled) {
       background-color: #D1C0AD;
       border-color: #D1C0AD;
       color: #947964;
   }
   @media (max-width:768px) {
       :global(.fc-toolbar h2) {
            position: block;
            text-align: center;
            width: max-content;
            // margin-top: -50px;
            margin: -50px -100px 0;
            font-size: 20px;
        }
        :global(.fc-header-toolbar) {
            margin-top: 30px;
        }
        :global(.fc-view-harness) {
            font-size: 14px;
            overflow-x: auto;
        }
        :global(.fc-event-main) {
            font-size: 12px;
        }
   }
}
