@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 64, 57, 49;
  --background-start-rgb: 255, 245, 237;
  --background-end-rgb: 255, 245, 237;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-height {
  min-height: calc(100% - 50px);
}

/* custom utility classes */
@layer components {
  /* .my-list-item {
    @apply hover:bg-fontColor hover:text-white md:hover:bg-fontColor rounded-xl duration-300 cursor-pointer;
  } */
  .animate-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translated(0, 0, 0);
  }

  @keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
  }
}

@layer base {
  html {
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  } 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background: #ebdfd5;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background: #D1C0AD;
    border-radius: 10px;
  }
}

.flex-center {
  @apply flex justify-center items-center
}

/* NProgress Style */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(140, 90, 50);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(140, 90, 50), 0 0 5px rgb(140, 90, 50);
  opacity: 1.0;

  transform: rotate(3deg) translate(0px, -4px);
}

/* animate */
@keyframes dialog-content-show {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes dialog-content-hide {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}