@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 64, 57, 49;
  --background-start-rgb: 255, 245, 237;
  --background-end-rgb: 255, 245, 237;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-height {
  min-height: calc(100% - 50px);
}

/* custom utility classes */
@layer components {
  .my-list-item {
    @apply hover:bg-fontColor hover:text-white md:hover:bg-fontColor rounded-xl duration-300 cursor-pointer;
  }
}

.flex-center {
  @apply flex justify-center items-center
}

/* NProgress Style */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(140, 90, 50);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(140, 90, 50), 0 0 5px rgb(140, 90, 50);
  opacity: 1.0;

  transform: rotate(3deg) translate(0px, -4px);
}